
.navbar {
    background-color: #1b1a2c;
    padding: 1rem;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .navItem {
    margin: 0;
  }
  
  .navLink {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .navLink:hover {
    background-color: #555;
  }