.navbar {
  background-color: #1b1a2c;
  padding: 1rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
  margin-bottom: 5px;
  padding: 0 50px;
  color: #8a0674; 
}

.navbar a {
  color: #ae1a96;
}

.navbar a:hover {
  background-color: #a60f8d;
  color: #fff; 
}
  
.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}

  
a {    
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
  
a:hover {
  background-color: #555;
}

@media screen and (max-width:960px){
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }


  .navList {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navList.active {
    top: 10%;
    background: #1b1a2c;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  .navbar_togglemenu {
    position: relative;
    right: 5%;
    transform: translate(5%, 20%);
    justify-content: center;
    align-items: center;
  }

  .navbar_togglemenu .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }

  .navbar_togglemenu.is-active .bar:nth-child(1) {
    transform: translateY(4px) scaleX(-0.75);
  }

  .navbar_togglemenu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar_togglemenu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-90deg);
  }

  a {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
}