  .footer {
    background-color: #1b1a2c;
    color: #d9abe2;
    padding: 1rem;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  
  .footerLink {
    color: #d9abe2;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  .footerLink:hover {
    text-decoration: underline;
  }