  .footer {
    background-color: #1b1a2c;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: absolute;
    width: 100%;
  }
  
  .footerLink {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  .footerLink:hover {
    text-decoration: underline;
  }